.time-container{
	width: 50%;
	height: 30%;
	background-color:#0083ff;
	top: 0;
	left: 0;
	position: absolute;
}

#clock{
	text-align: center;
	font-size: 80px;
	color: white;
	font-family: "Arial", serif;
	line-height: 0px;
}

#date{
	text-align:center;
	font-size: 40px;
	color:#004953;
	font-family: "Arial", serif;
	
}
